<nav
  class="container-fluid navbar navbar-expand-lg navbar-light col-md-12 col-10 sticky-lg-top sticky-md-top sticky-sm-top ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-row-reverse " id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Team</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu " aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li>
          <button type="button" class="btn btn-outline-primary rounded-pill btn-started">Get Started</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class=" container-fluid col-md-12 col-10 d-md-inline-flex d-lg-flex">
  <div class="col-lg-6 col-md-6 col-9 pt-5">
    <h1 class="heading--1">Better Solutions For Your Business</h1>
    <h3>We are team of talented designers making websites with Bootstrap</h3>
    <div class=" d-flex">

      <a class="nav-link" href="#"><button type="button " class="btn btn-primary rounded-pill">Get
          Started</button></a>
      <button type="button " class="btn icon-video-play">
        <svg class="icons ">
          <use href="../assets/icons.svg#icon-video-play"></use>
        </svg>
        <span>
          Watch Video
        </span>
      </button>

    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-9 p-4">
    <img src="../assets/hero-img.png" alt="">
  </div>
</div>


<section class="container-fluid main-container aos-init aos-animate">
  <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus assumenda, reprehenderit molestias reiciendis,
    pariatur et vero expedita odit vel laudantium eum labore eaque officiis facilis velit alias, a error explicabo?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, distinctio! Soluta, amet praesentium dolores
    ducimus nemo dolore quibusdam quis placeat molestias explicabo. Corrupti officiis excepturi nostrum enim molestiae,
    nemo architecto?</h1>
</section>
<footer class="row">
  <div class="col align-self-center" data-mdb-animation-start="onHover">
    <p>© Copyright Arsha. All Rights Reserved</p>
    <p>Designed by BootstrapMade</p>
  </div>

</footer>